{% extends 'search/base.html' %}

{% load static %}

{% block content %}

	<div class="container-fluid" class="base">
	    <div class="row align-items-center justify-content-center text-center">
	      <div class="col-lg-10 my-4">
	        <h1 class="text-white">{{product.name}}</h1>
	        <hr class="divider my-4">
	    </div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-center">
			<h2 class="text-white">Nutriscore : </h2>
			<img class="img-responsive"width="400" height="200" src="{% static 'search/img/nutriscore/' %}{{ product.nutriscore}}.svg"  alt="{{ product.nutriscore }}">
		</div> 
		<div class="col-sm-6 text-center">
			<h2 class="text-white">Valeurs nutritionnelles pour 100g : </h2>
			 <img class="img-responsive" width="300" height="200" src="{{ product.picture_100g }}" alt="{{ product.name }}">
		</div>
	</div>	

	<div class="row">
		<div class="col-sm-12 text-center my-4">
			<a class="btn btn-lg btn-outline-light" href="{{ product.url }}">Voir la fiche d'OpenFoodFacts</a>
		</div>
	</div>


{% endblock %}