{% extends 'search/base.html' %}

{% block content %}

 {% for product in products %}
     {% load static %}

    <div class="col-sm-4 text-center">
        <a href="/">
          <img class="img-responsive" src="https://cdn-assets-cloud.frontify.com/local/frontify/eyJwYXRoIjoiXC9wdWJsaWNcL3VwbG9hZFwvc2NyZWVuc1wvMTEzOTA0XC84OTBlYzQ1ZTA4MDQzYjk4MTcyMTQzNjAwMWI5MTcwNC0xNDc3NTc2NzQ3LnBuZyJ9:frontify:ilf3XJdtc48e3npS-MFa3stCxQnGF2uEOk5wkrU9IRE?width=2400" alt="">
        </a>
        <h3><a href="/">{{ product.name }}</a></h3>
        <h3><a href="/">{{ product.type }}</a></h3>
    </div>
    {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
{% endfor %}

{% endblock %}