{% extends 'search/base.html' %}

{% block content %}


  <div class="container-fluid" class="base">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-lg-10 my-4">
        <h1 class="text-white">{{title}}</h1>
        <hr class="divider my-4">
      </div>
    </div>


  <div class="row">
		{% for product in products %}
		    <div class="col-lg-4 text-center">
		       <a href="{% url 'search:detail' product_id=product.id %}">
		          <img class="img-responsive" width="300" height="300" src="{{ product.picture }}" alt="{{ product.name }}">
		        </a>
		        <h3><a href="{% url 'search:detail' product_id=product.id %}">{{ product.name }}</a></h3>
		        <h3>{{product.nutriscore}}</h3>
			    {% if user.is_authenticated %}
			        <p>
			        	<a href="{% url 'search:log_in' %}"><i class="far fa-square" style="color:white;"></i> Sauvegarder</a>
			        </p>
			    {% else %}
			    	<p><a href="{% url 'search:log_in' %}">Connectez-vous pour enregistrer ce produit</a></p>
          		{% endif %}
		    </div>
		  {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
		{% endfor %}
  </div>

{% endblock %}