{% extends 'search/base.html' %}

{% load static %}

{% block content %}


	<div class="container-fluid">
	    <div class="row align-items-center justify-content-center text-center">
	      	<div class="col-lg-10 my-4">
		        <h1 class="text-white">Mentions légales</h1>
		        <hr class="divider">
		    </div>
	    </div>
	    <div class="row align-items-center justify-content-center text-center">
	      	<div class="col-lg-10 y-4 text-white">
	      		<p>Hébergeur du site : <a class="nounderline" href="https://www.heroku.com/">Heroku.com </a></p>
	        	<p>Photo de backgroud home page : <a class="nounderline" href="https://unsplash.com/photos/eqsEZNCm4-c">https://unsplash.com/photos/eqsEZNCm4-c </a></p>
	        	<p>Photos des dirigeants de Pur Beurre, logo et favicon : <a class="nounderline" href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide">https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide</a></p>
	        	<p>Icônes : <a class="nounderline" href="https://fontawesome.com/icons?d=gallery">https://fontawesome.com/icons?d=gallery</a></p>
	        	<p>Informations produits : <a class="nounderline" href="https://fr.openfoodfacts.org/">https://fr.openfoodfacts.org/</a></p>
		    </div>
	    </div>
	</div>

{% endblock %}